<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{admin/common::header('商品编辑')}"></head>

<body class="hold-transition skin-red sidebar-mini" >
<div id="goodsView">
	<!-- 正文区域 -->
	<section class="content">

		<div class="box-body">

			<!--tab页-->
			<div class="nav-tabs-custom">

				<!--tab头-->
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#home" data-toggle="tab">商品基本信息</a>
					</li>
					<li >
						<a href="#pic_upload" data-toggle="tab">商品图片</a>
					</li>
					<li >
						<a href="#customAttribute" data-toggle="tab">扩展属性</a>
					</li>
					<li >
						<a href="#spec" data-toggle="tab" >规格</a>
					</li>
				</ul>
				<!--tab头/-->

				<!--tab内容-->
				<div class="tab-content">

					<!--表单内容-->
					<div class="tab-pane active" id="home">
						<div class="row data-type">
							<div class="col-md-2 title">商品分类</div>

							<div class="col-md-10 data">
								<table>
									<tr>
										<td>
											<select class="form-control" v-model="entity.goods.category1Id">
												<option v-for="itemCat in itemCatList1" :value="itemCat.id">{{itemCat.name}}</option>
											</select>
										</td>
										<td>
											<select class="form-control select-sm" v-model="entity.goods.category2Id">
												<option v-for="itemCat in itemCatList2" :value="itemCat.id">{{itemCat.name}}</option>
											</select>
										</td>
										<td>
											<select class="form-control select-sm" v-model="entity.goods.category3Id">
												<option v-for="itemCat in itemCatList3" :value="itemCat.id">{{itemCat.name}}</option>
											</select>
										</td>
										<td>
											模板ID:{{entity.goods.typeTemplateId}}
										</td>
									</tr>
								</table>

							</div>


							<div class="col-md-2 title">商品名称</div>
							<div class="col-md-10 data">
								<input type="text" class="form-control"    placeholder="商品名称" value="">
							</div>

							<div class="col-md-2 title">品牌</div>
							<div class="col-md-10 data">
								<select class="form-control" v-model="entity.goods.brandId">
									<option v-for="brand in brandList" :value="brand.id">{{brand.name}}</option>
								</select>
							</div>

							<div class="col-md-2 title">副标题</div>
							<div class="col-md-10 data">
								<input type="text" class="form-control"   placeholder="副标题" value="">
							</div>

							<div class="col-md-2 title">价格</div>
							<div class="col-md-10 data">
								<div class="input-group">
									<span class="input-group-addon">¥</span>
									<input type="text" class="form-control"  placeholder="价格" value="">
								</div>
							</div>

							<div class="col-md-2 title editer">商品介绍</div>
							<div class="col-md-10 data editer">
								<textarea name="content" style="width:800px;height:400px;visibility:hidden;" ></textarea>
							</div>

							<div class="col-md-2 title rowHeight2x">包装列表</div>
							<div class="col-md-10 data rowHeight2x">

								<textarea rows="4"  class="form-control"   placeholder="包装列表"></textarea>
							</div>

							<div class="col-md-2 title rowHeight2x">售后服务</div>
							<div class="col-md-10 data rowHeight2x">
								<textarea rows="4"  class="form-control"    placeholder="售后服务"></textarea>
							</div>


						</div>
					</div>

					<!--图片上传-->
					<div class="tab-pane" id="pic_upload">
						<div class="row data-type">
							<!-- 颜色图片 -->
							<div class="btn-group">
								<button @click="initImage" type="button" class="btn btn-default" title="新建" data-target="#uploadModal"  data-toggle="modal"  ><i class="fa fa-file-o"></i> 新建</button>

							</div>

							<table class="table table-bordered table-striped table-hover dataTable">
								<thead>
								<tr>

									<th class="sorting">颜色</th>
									<th class="sorting">图片</th>
									<th class="sorting">操作</th>
								</thead>
								<tbody>
								<tr v-for="(itemImage,index) in entity.goodsDesc.itemImages">
									<td>
										{{itemImage.color}}
									</td>
									<td>
										<img alt="" :src="itemImage.uri" width="100px" height="100px">
									</td>
									<td> <button @click="deleteImage(index)" type="button" class="btn btn-default" title="删除" ><i class="fa fa-trash-o"></i> 删除</button></td>
								</tr>
								</tbody>
							</table>

						</div>
					</div>


					<!--扩展属性-->
					<div class="tab-pane" id="customAttribute">
						<div class="row data-type">
							<div v-for="customAttribute in entity.goodsDesc.customAttributeItems">
								<div class="col-md-2 title">{{customAttribute.text}}</div>
								<div class="col-md-10 data">
									<input v-model="customAttribute.value" class="form-control" :placeholder="customAttribute.text" >
								</div>
							</div>
						</div>
					</div>

					<!--规格-->
					<div class="tab-pane" id="spec">
						<div class="row data-type">
							<div class="col-md-2 title">是否启用规格</div>
							<div class="col-md-10 data">
								<input type="checkbox" >
							</div>
						</div>
						<p>

						<div>

							<div class="row data-type">

								<div v-for="(specUnion,index) in specUnionList">
									<div class="col-md-2 title">{{specUnion.spec.specName}}</div>
									<div class="col-md-10 data">
					                            <span v-for="specOption in specUnion.specOptionList">
					                            	<input @change="createItemListStructure" :value="specOption.optionName" v-model="entity.goodsDesc.specificationItems[index].attributeValue"  type="checkbox" >{{specOption.optionName}}
					                            </span>
									</div>
								</div>
							</div>


							<div class="row data-type">
								<table class="table table-bordered table-striped table-hover dataTable">
									<thead>
									<tr>
										<th v-for="item in entity.goodsDesc.specificationItems" class="sorting">{{item.attributeName}}</th>
										<th class="sorting">价格</th>
										<th class="sorting">库存</th>
										<th class="sorting">是否启用</th>
										<th class="sorting">是否默认</th>
									</tr>
									</thead>
									<tbody>
									<tr v-for="pojo in entity.itemList">
										<td v-for="item in entity.goodsDesc.specificationItems">
											{{pojo.spec[item.attributeName]}}
										</td>
										<td>
											<input v-model="pojo.price" class="form-control"  placeholder="价格">
										</td>
										<td>
											<input v-model="pojo.num" class="form-control" placeholder="库存数量">
										</td>
										<td>
											<input :true-value="checkTrue" :false-value="checkFalse" v-model="pojo.status" type="checkbox" >
										</td>
										<td>
											<input :true-value="checkTrue" :false-value="checkFalse" v-model="pojo.isDefault" type="checkbox" >
										</td>
									</tr>
									</tbody>
								</table>

							</div>

						</div>
					</div>

				</div>
				<!--tab内容/-->
				<!--表单内容/-->

			</div>




		</div>
		<div class="btn-toolbar list-toolbar">
			<button @click="save" class="btn btn-primary" ><i class="fa fa-save"></i>保存</button>
			<button class="btn btn-default" >返回列表</button>
		</div>

	</section>


	<!-- 上传窗口 -->
	<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" >
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">上传商品图片</h3>
				</div>
				<div class="modal-body">

					<table class="table table-bordered table-striped">
						<tr>
							<td>颜色</td>
							<td><input v-model="itemImage.color"  class="form-control" placeholder="颜色" >  </td>
						</tr>
						<tr>
							<td>商品图片</td>
							<td>
								<table>
									<tr>
										<td>
											<input @change="selectFile($event)" type="file" id="file" />
											<button @click="uploadImage" class="btn btn-primary" type="button" >
												上传
											</button>
										</td>
										<td>
											<img  :src="itemImage.uri" width="200px" height="200px">
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>

				</div>
				<div class="modal-footer">
					<button @click="addImage" class="btn btn-success"  data-dismiss="modal" aria-hidden="true">保存</button>
					<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 正文区域 /-->
<!--富文本编辑器初始化，要放到末尾		-->
<script type="text/javascript">

	var editor;
	KindEditor.ready(function(K) {
		editor = K.create('textarea[name="content"]', {
			allowFileManager : true
		});
	});

</script>

</body>
<script type="text/javascript" th:src="@{/js/pages/base.js}"></script>
<script type="text/javascript" th:src="@{/js/pages/goodsController.js}"></script>
</html>