<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/common::header('品牌管理')}"></head>
<body class="hold-transition skin-red sidebar-mini">
	<div id="brandView">
		<!-- .box-body -->
		<div class="box-header with-border">
			<h3 class="box-title">品牌管理</h3>
		</div>

		<div class="box-body">

			<!-- 数据表格开始 -->
			<div class="table-box">

				<!--工具栏-->
				<div class="pull-left">
					<div class="form-group form-inline">
						<div class="btn-group">
							<button type="button" class="btn btn-default" @click="entity={}" title="新建" data-toggle="modal" data-target="#editModal" ><i class="fa fa-file-o"></i> 新建</button>
							<button type="button" class="btn btn-default" @click="deleteByIds" title="删除" ><i class="fa fa-trash-o"></i> 删除</button>
							<button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
						</div>
					</div>
				</div>
				<div class="box-tools pull-right">
					<div class="has-feedback">

					</div>
				</div>
				<!--工具栏/-->

				  <!--数据列表-->
				  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
					  <thead>
						  <tr>
							  <th class="" style="padding-right:0px">
								  <input id="selall" type="checkbox" class="icheckbox_square-blue">
							  </th>
							  <th class="sorting_asc">品牌ID</th>
							  <th class="sorting">品牌名称</th>
							  <th class="sorting">品牌首字母</th>
							  <th class="text-center">操作</th>
						  </tr>
					  </thead>
					  <tbody>
						  <tr v-for="brand in searchResult.list">
							  <td><input v-model="ids" :value="brand.id"  type="checkbox" ></td>
							  <td>{{brand.id}}</td>
							  <td>{{brand.name}}</td>
							  <td>{{brand.firstChar}}</td>
							  <td class="text-center">
								  <button type="button" @click="findById(brand.id)" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal"  >修改</button>
							  </td>
						  </tr>
					  </tbody>
				  </table>
				  <!--数据列表/-->
				  <!--分页插件-->
				<paginate :container-class="'pagination'" :page-count="pageCount"
						  :click-handler="findPage" :prev-text="'上一页'" :next-text="'下一页'"
						  :first-last-button="false" v-model="searchParam.pageNum">

			</div>
			<!-- 数据表格结束 /-->




		 </div>
		<!-- /.box-body -->
         
<!-- 编辑窗口 -->
		<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog" >
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">品牌编辑</h3>
				</div>
				<div class="modal-body">
					<table class="table table-bordered table-striped"  width="800px">
						<tr>
							<td>品牌名称</td>
							<td><input v-model="entity.name"  class="form-control" placeholder="品牌名称" >  </td>
						</tr>
						<tr>
							<td>首字母</td>
							<td><input v-model="entity.firstChar"  class="form-control" placeholder="首字母">  </td>
						</tr>
					 </table>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success" @click="saveOrUpdate" data-dismiss="modal" aria-hidden="true">保存</button>
					<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
				</div>
			  </div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" th:src="@{/js/pages/base.js}"></script>
<script type="text/javascript" th:src="@{/js/pages/brandController.js}"></script>
</html>